/*Loader*/
.loader{
  align-items: center;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weatherInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherInfo-details{
  display: flex;
  align-items: center;
  gap: 6rem;
}

.current-temperature {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.unit {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  bottom: 20px;
  left: 5px;
}
.current-weather-details ul {
  color: white;
  font-size: 11px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  padding: 0;
}

.current-location {
  color: white;
  font-size: 23px;
  font-weight: 400;
  margin: 20px 0 15px;
  text-align: center;
}
.current-weather-description {
  color: #61d9fb;
  font-weight: 300;
  font-size: 15px;
  margin-top: 24px;
}

.max-and-min-temperatures {
  font-size: 13px;
  font-weight: 200;
  line-height: 28px;
  margin-top: 18px;
  text-align: center;
}
.current-weather-description:first-letter {
  text-transform: capitalize;
}

.current-local-time {
  font-size: 15px;
  font-weight: 200;
  margin-top: 8px;
  text-align: center;
}

@media (max-width: 700px) {
  .weatherInfo-details{
    flex-direction: column;
    gap: 2rem;
  }
  .current-temperature {
    font-size: 60px;
  }
  .current-local-time {
    font-size: 13px;
  }
  .current-location {
    font-size: 20px;
  }
  .max-and-min-temperatures {
    font-size: 12px;
    margin-top: 20px;
  }
  .current-weather-description {
    font-size: 16px;
    margin-top: 25px;
  }  
}

